@model FrontEnd.Models.Producto

@{
    ViewBag.Title = "Registrar Nuevo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml"; // O el layout que uses
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-dark text-white">
                    <h3 class="mb-0"><i class="fas fa-box-open"></i> Registrar Nuevo Producto</h3>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("RegistrarProducto", "Administracion", FormMethod.Post, new { @class = "row g-3" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger col-12 mb-3" })

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ProveedorID, new { @class = "form-label" })
                            @Html.EditorFor(model => model.ProveedorID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProveedorID, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-8">
                            @Html.LabelFor(model => model.Nombre, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.PrecioUnitario, new { @class = "form-label" })
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                @Html.EditorFor(model => model.PrecioUnitario, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.PrecioUnitario, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Stock, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-12">
                            @Html.LabelFor(model => model.ImagenURL, new { @class = "form-label" })
                            @Html.EditorFor(model => model.ImagenURL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImagenURL, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-12">
                            @Html.LabelFor(model => model.Descripcion, new { @class = "form-label" })
                            @Html.TextAreaFor(model => model.Descripcion, 5, 80, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>

                        @Html.HiddenFor(model => model.Activo, new { @value = true })

                        <div class="col-12 mt-4">
                            <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-save"></i> Guardar Producto</button>
                            @Html.ActionLink("Volver a Lista", "Index", "Administracion", null, new { @class = "btn btn-outline-secondary ms-2" })
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}